body {
    background-color: white;
    margin: 30px 30px;
    font-family: 'Grotesco', Arial, Helvetica, sans-serif;
    font-size: 15px;
}

input {
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.5rem;
}


#addBtn {
    height: 33px;
    width: 100px;
    font-family: Grotesco, Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0px 0px;
    padding: 5px;
    justify-content: center;
    border-radius: 0.5rem;
}

.completeBtn, .deleteBtn {
    border-radius: 0.5rem
}



.table {
    border-collapse: collapse;
    margin: 1rem 1rem 1rem 1rem;
    color: black;
    border-radius: 0.5rem;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr, td {
    height: 25px;
    padding: 10px;
}

header {
    margin-top: 1rem;
}

h1 {
    text-align: center;
    font-family: Grotesco, Arial, Helvetica, sans-serif;
    color: black;
}


tr:nth-child(1) {
    font-weight: bolder;
    background-color: lightblue;
}


.rowBackground {
    background-color: lavender;
}

.rowBackgroundGreen {
    background-color: #8FBC8F;
}






